In [5]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm
import matplotlib.pyplot as plt

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
df = pd.read_csv('/content/drive/MyDrive/EM:IP/최종 데이터 파일/variables/0_start_with_2_original_cleaning.csv', sep=',')
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['time'] = df['time'].astype(float)
df

,Unnamed: 0,ID,cnt,schoolid,StIDStd,event,time,event_number,event_value,network,fare_type,ticket_type,number_trips,OECD,credit,timestamp,instance,instance_id
0,1,ARE000018904852,ARE,189,4852,START_ITEM,1186.7,1,Start,NaN,NaN,NaN,NaN,0,0,2021-12-22 14:19:00,1,ARE000018904852-01
1,2,ARE000018904852,ARE,189,4852,ACER_EVENT,1195.6,2,country_trains,country_trains,NaN,NaN,0.0,0,0,2021-12-22 14:19:00,3,ARE000018904852-03
2,3,ARE000018904852,ARE,189,4852,ACER_EVENT,1202.8,3,full_fare,country_trains,full_fare,NaN,0.0,0,0,2021-12-22 14:20:00,4,ARE000018904852-04
3,4,ARE000018904852,ARE,189,4852,ACER_EVENT,1217.2,4,daily,country_trains,full_fare,daily,0.0,0,0,2021-12-22 14:20:00,7,ARE000018904852-07
4,5,ARE000018904852,ARE,189,4852,ACER_EVENT,1223.7,5,Buy,country_trains,full_fare,daily,0.0,0,0,2021-12-22 14:20:00,10,ARE000018904852-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322839,322870,USA000007902365,USA,79,2365,ACER_EVENT,111.5,16,city_subway,city_subway,NaN,NaN,0.0,1,0,2021-12-22 14:01:00,2,USA000007902365-02
322840,322871,USA000007902365,USA,79,2365,ACER_EVENT,112.0,17,concession,city_subway,concession,NaN,0.0,1,0,2021-12-22 14:01:00,5,USA000007902365-05
322841,322872,USA000007902365,USA,79,2365,ACER_EVENT,113.1,18,daily,city_subway,concession,daily,0.0,1,0,2021-12-22 14:01:00,7,USA000007902365-07
322842,322873,USA000007902365,USA,79,2365,ACER_EVENT,128.6,19,Buy,city_subway,concession,daily,0.0,1,0,2021-12-22 14:02:00,10,USA000007902365-10
322843,322874,USA000007902365,USA,79,2365,END_ITEM,130.3,20,End,NaN,NaN,NaN,NaN,1,0,2021-12-22 14:02:00,12,USA000007902365-12

In [8]:
df_action = df[['ID','event_value', 'event_number','instance','credit']]

In [9]:
df_action['sequence']= ''
df_action["sequence"] = np.nan
df_action

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,event_value,event_number,instance,credit,sequence
0,ARE000018904852,Start,1,1,0,NaN
1,ARE000018904852,country_trains,2,3,0,NaN
2,ARE000018904852,full_fare,3,4,0,NaN
3,ARE000018904852,daily,4,7,0,NaN
4,ARE000018904852,Buy,5,10,0,NaN
...,...,...,...,...,...,...
322839,USA000007902365,city_subway,16,2,0,NaN
322840,USA000007902365,concession,17,5,0,NaN
322841,USA000007902365,daily,18,7,0,NaN
322842,USA000007902365,Buy,19,10,0,NaN
322843,USA000007902365,End,20,12,0,NaN

### a: city→concession→daily→cancel (2, 5, 7, 11)

In [10]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==7) and (df_action['instance'][i+3]==11):
        df_action['sequence'][i:i+4]= 'a'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

### b: city-concession-individual-trip4-buy (2, 5, 6, 9, 10)

In [11]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==9) and (df_action['instance'][i+4]==10):
        df_action['sequence'][i:i+5] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-trip4-tripn-trip4-buy (2, 5, 6, 9, 8, 9, 10)

In [12]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==9) and (df_action['instance'][i+4]==8) and (df_action['instance'][i+5]==9) and (df_action['instance'][i+6]==10):
        df_action['sequence'][i:i+7] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-trip4-tripn-trip4-tripn-trip4-buy (2, 5, 6, 9, 8, 9, 8, 9, 10)

In [13]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==9) and (df_action['instance'][i+4]==8) and (df_action['instance'][i+5]==9) and (df_action['instance'][i+6]==8) and (df_action['instance'][i+7]==9) and (df_action['instance'][i+8]==10):
        df_action['sequence'][i:i+9] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-trip4-tripn-trip4-tripn-trip4-tripn-trip4-buy (2, 5, 6, 9, 8, 9, 8, 9, 8, 9, 10)

In [14]:
 for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==9) and (df_action['instance'][i+4]==8) and (df_action['instance'][i+5]==9) and (df_action['instance'][i+6]==8) and (df_action['instance'][i+7]==9) and (df_action['instance'][i+8]==8) and (df_action['instance'][i+9]==9) and (df_action['instance'][i+10]==10):
        df_action['sequence'][i:i+11] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-trip4-tripn-trip4-tripn-trip4-tripn-trip4-tripn-trip4-buy (2, 5, 6, 9, 8, 9, 8, 9, 8, 9, 8, 9, 10)

In [15]:
 for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==9) and (df_action['instance'][i+4]==8) and (df_action['instance'][i+5]==9) and (df_action['instance'][i+6]==8) and (df_action['instance'][i+7]==9) and (df_action['instance'][i+8]==8) and (df_action['instance'][i+9]==9) and (df_action['instance'][i+10]==8) and (df_action['instance'][i+11]==9) and (df_action['instance'][i+12]==10):
        df_action['sequence'][i:i+13] = 'b'

### b: city-concession-individual-trip4-cancel (2, 5, 6, 9, 11)

In [16]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==9) and (df_action['instance'][i+4]==11):
        df_action['sequence'][i:i+5] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-trip4-tripn-cancel (2, 5, 6, 9, 8, 11)

In [17]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==9) and (df_action['instance'][i+4]==8) and (df_action['instance'][i+5]==11):
        df_action['sequence'][i:i+6] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-trip4-tripn-trip4-cancel (2, 5, 6, 9, 8, 9, 11)

In [18]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==9) and (df_action['instance'][i+4]==8) and (df_action['instance'][i+5]==9) and (df_action['instance'][i+6]==11):
        df_action['sequence'][i:i+7] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-trip4-tripn-trip4-tripn-cancel (2, 5, 6, 9, 8, 9, 8, 11)

In [19]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==9) and (df_action['instance'][i+4]==8) and (df_action['instance'][i+5]==9) and (df_action['instance'][i+6]==8) and (df_action['instance'][i+7]==11):
        df_action['sequence'][i:i+8] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-trip4-tripn-trip4-tripn-trip4-cancel (2, 5, 6, 9, 8, 9, 8, 9, 11)

In [20]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==9) and (df_action['instance'][i+4]==8) and (df_action['instance'][i+5]==9) and (df_action['instance'][i+6]==8) and (df_action['instance'][i+7]==9) and (df_action['instance'][i+8]==11):
        df_action['sequence'][i:i+9] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-trip4-tripn-trip4-tripn-trip4-tripn-cancel (2, 5, 6, 9, 8, 9, 8, 9, 8, 11)

In [21]:
 for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==9) and (df_action['instance'][i+4]==8) and (df_action['instance'][i+5]==9) and (df_action['instance'][i+6]==8) and (df_action['instance'][i+7]==9) and (df_action['instance'][i+8]==8)  and (df_action['instance'][i+9]==11):
        df_action['sequence'][i:i+10] = 'b'

### b: city-concession-individual-trip4-tripn-trip4-tripn-trip4-tripn-trip4-cancel (2, 5, 6, 9, 8, 9, 8, 9, 8, 9, 11)

In [22]:
 for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==9) and (df_action['instance'][i+4]==8) and (df_action['instance'][i+5]==9) and (df_action['instance'][i+6]==8) and (df_action['instance'][i+7]==9) and (df_action['instance'][i+8]==8) and (df_action['instance'][i+9]==9) and (df_action['instance'][i+10]==11):
        df_action['sequence'][i:i+11] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-trip4-tripn-trip4-tripn-trip4-tripn-trip4-tripn-cancel (2, 5, 6, 9, 8, 9, 8, 9, 8, 9, 8, 11)

In [23]:
 for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==9) and (df_action['instance'][i+4]==8) and (df_action['instance'][i+5]==9) and (df_action['instance'][i+6]==8) and (df_action['instance'][i+7]==9) and (df_action['instance'][i+8]==8) and (df_action['instance'][i+9]==9) and (df_action['instance'][i+10]==8) and (df_action['instance'][i+11]==11):
        df_action['sequence'][i:i+12] = 'b'

### b: city-concession-individual-trip4-tripn-trip4-tripn-trip4-tripn-trip4-tripn-trip4-cancel (2, 5, 6, 9, 8, 9, 8, 9, 8, 9, 8, 9, 11)

In [24]:
 for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==9) and (df_action['instance'][i+4]==8) and (df_action['instance'][i+5]==9) and (df_action['instance'][i+6]==8) and (df_action['instance'][i+7]==9) and (df_action['instance'][i+8]==8) and (df_action['instance'][i+9]==9) and (df_action['instance'][i+10]==8) and (df_action['instance'][i+11]==9) and (df_action['instance'][i+12]==11):
        df_action['sequence'][i:i+13] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-tripn-trip4-buy (2, 5, 6, 8, 9, 10)

In [25]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==8) and (df_action['instance'][i+4]==9) and (df_action['instance'][i+5]==10):
        df_action['sequence'][i:i+6] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-tripn-trip4-tripn-trip4-buy (2, 5, 6, 8, 9, 8, 9, 10)

In [26]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==8) and (df_action['instance'][i+4]==9) and (df_action['instance'][i+5]==8) and (df_action['instance'][i+6]==9) and (df_action['instance'][i+7]==10):
        df_action['sequence'][i:i+8] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-tripn-trip4-tripn-trip4-tripn-trip4-buy (2, 5, 6, 8, 9, 8, 9, 8, 9, 10)

In [27]:
 for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==8) and (df_action['instance'][i+4]==9) and (df_action['instance'][i+5]==8) and (df_action['instance'][i+6]==9) and (df_action['instance'][i+7]==8) and (df_action['instance'][i+8]==9)  and (df_action['instance'][i+9]==10):
        df_action['sequence'][i:i+10] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-tripn-trip4-tripn-trip4-tripn-trip4-tripn-trip4-buy (2, 5, 6, 8, 9, 8, 9, 8, 9, 8, 10)

In [28]:
 for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==8) and (df_action['instance'][i+4]==9) and (df_action['instance'][i+5]==8) and (df_action['instance'][i+6]==9) and (df_action['instance'][i+7]==8) and (df_action['instance'][i+8]==9) and (df_action['instance'][i+9]==8) and (df_action['instance'][i+10]==10):
        df_action['sequence'][i:i+11] = 'b'

### b: city-concession-individual-tripn-trip4-cancel (2, 5, 6, 8, 9, 11)

In [29]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==8) and (df_action['instance'][i+4]==9) and (df_action['instance'][i+5]==11):
        df_action['sequence'][i:i+6] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-tripn-trip4-tripn-cancel (2, 5, 6, 8, 9, 8, 11)

In [30]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==8) and (df_action['instance'][i+4]==9) and (df_action['instance'][i+5]==8) and (df_action['instance'][i+6]==11):
        df_action['sequence'][i:i+7] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-tripn-trip4-tripn-trip4-cancel (2, 5, 6, 8, 9, 8, 9, 11)

In [31]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==8) and (df_action['instance'][i+4]==9) and (df_action['instance'][i+5]==8) and (df_action['instance'][i+6]==9) and (df_action['instance'][i+7]==11):
        df_action['sequence'][i:i+8] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-tripn-trip4-tripn-trip4-tripn-cancel (2, 5, 6, 8, 9, 8, 9, 8, 11)

In [32]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==8) and (df_action['instance'][i+4]==9) and (df_action['instance'][i+5]==8) and (df_action['instance'][i+6]==9) and (df_action['instance'][i+7]==8) and (df_action['instance'][i+8]==11):
        df_action['sequence'][i:i+9] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-tripn-trip4-tripn-trip4-tripn-trip4-cancel (2, 5, 6, 8, 9, 8, 9, 8, 9, 11)

In [33]:
 for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==8) and (df_action['instance'][i+4]==9) and (df_action['instance'][i+5]==8) and (df_action['instance'][i+6]==9) and (df_action['instance'][i+7]==8) and (df_action['instance'][i+8]==9)  and (df_action['instance'][i+9]==11):
        df_action['sequence'][i:i+10] = 'b'

### b: city-concession-individual-tripn-trip4-tripn-trip4-tripn-trip4-tripn-cancel (2, 5, 6, 8, 9, 8, 9, 8, 9, 8, 11)

In [34]:
 for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==8) and (df_action['instance'][i+4]==9) and (df_action['instance'][i+5]==8) and (df_action['instance'][i+6]==9) and (df_action['instance'][i+7]==8) and (df_action['instance'][i+8]==9) and (df_action['instance'][i+9]==8) and (df_action['instance'][i+10]==11):
        df_action['sequence'][i:i+11] = 'b'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

### b: city-concession-individual-tripn-trip4-tripn-trip4-tripn-trip4-tripn-trip4-cancel (2, 5, 6, 8, 9, 8, 9, 8, 9, 8, 9, 11)

In [35]:
 for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==8) and (df_action['instance'][i+4]==9) and (df_action['instance'][i+5]==8) and (df_action['instance'][i+6]==9) and (df_action['instance'][i+7]==8) and (df_action['instance'][i+8]==9) and (df_action['instance'][i+9]==8) and (df_action['instance'][i+10]==9) and (df_action['instance'][i+11]==11):
        df_action['sequence'][i:i+12] = 'b'

In [36]:
df_action.tail(50)

,ID,event_value,event_number,instance,credit,sequence
322794,USA000007902381,trip_n,9,8,1,NaN
322795,USA000007902381,trip_n,10,8,1,NaN
322796,USA000007902381,trip_n,11,8,1,NaN
322797,USA000007902381,trip_n,12,8,1,NaN
322798,USA000007902381,trip_4,13,9,1,NaN
322799,USA000007902381,trip_n,14,8,1,NaN
322800,USA000007902381,trip_4,15,9,1,NaN
322801,USA000007902381,trip_n,16,8,1,NaN
322802,USA000007902381,trip_n,17,8,1,NaN
322803,USA000007902381,trip_n,18,8,1,NaN
322804,USA000007902381,trip_n,19,8,1,NaN
322805,USA000007902381,trip_4,20,9,1,NaN
322806,USA000007902381,trip_n,21,8,1,NaN
322807,USA000007902381,trip_4,22,9,1,NaN
322808,USA000007902381,Cancel,23,11,1,NaN
322809,USA000007902381,country_trains,24,3,1,NaN
322810,USA000007902381,concession,25,5,1,NaN
322811,USA000007902381,individual,26,6,1,NaN
322812,USA000007902381,trip_4,27,9,1,NaN
322813,USA000007902381,Cancel,28,11,1,NaN
322814,USA000007902381,city_subway,29,2,1,a
322815,USA000007902381,concession,30,5,1,a
322816,USA000007902381,daily,31,7,1,a
322817,USA000007902381,Cancel,32,11,1,a
322818,USA000007902381,city_subway,33,2,1,b
322819,USA000007902381,concession,34,5,1,b
322820,USA000007902381,individual,35,6,1,b
322821,USA000007902381,trip_4,36,9,1,b
322822,USA000007902381,Buy,37,10,1,b
322823,USA000007902381,End,38,12,1,NaN
322824,USA000007902365,Start,1,1,0,NaN
322825,USA000007902365,city_subway,2,2,0,a
322826,USA000007902365,concession,3,5,0,a
322827,USA000007902365,daily,4,7,0,a
322828,USA000007902365,Cancel,5,11,0,a
322829,USA000007902365,country_trains,6,3,0,NaN
322830,USA000007902365,full_fare,7,4,0,NaN
322831,USA000007902365,Cancel,8,11,0,NaN
322832,USA000007902365,country_trains,9,3,0,NaN
322833,USA000007902365,concession,10,5,0,NaN
322834,USA000007902365,daily,11,7,0,NaN
322835,USA000007902365,Cancel,12,11,0,NaN
322836,USA000007902365,city_subway,13,2,0,NaN
322837,USA000007902365,full_fare,14,4,0,NaN
322838,USA000007902365,Cancel,15,11,0,NaN
322839,USA000007902365,city_subway,16,2,0,NaN
322840,USA000007902365,concession,17,5,0,NaN
322841,USA000007902365,daily,18,7,0,NaN
322842,USA000007902365,Buy,19,10,0,NaN
322843,USA000007902365,End,20,12,0,NaN

In [37]:
# 정답 이외의 행동은 모두 c로 처리
df_action = df_action.fillna('c')

### Start, End 삭제

In [38]:
idx = df_action[df_action['event_value']=='Start'].index
df_action = df_action.drop(idx)

In [39]:
idx = df_action[df_action['event_value']=='End'].index
df_action = df_action.drop(idx)

In [40]:
df_action.tail(50)

,ID,event_value,event_number,instance,credit,sequence
322791,USA000007902381,trip_n,6,8,1,c
322792,USA000007902381,trip_n,7,8,1,c
322793,USA000007902381,trip_n,8,8,1,c
322794,USA000007902381,trip_n,9,8,1,c
322795,USA000007902381,trip_n,10,8,1,c
322796,USA000007902381,trip_n,11,8,1,c
322797,USA000007902381,trip_n,12,8,1,c
322798,USA000007902381,trip_4,13,9,1,c
322799,USA000007902381,trip_n,14,8,1,c
322800,USA000007902381,trip_4,15,9,1,c
322801,USA000007902381,trip_n,16,8,1,c
322802,USA000007902381,trip_n,17,8,1,c
322803,USA000007902381,trip_n,18,8,1,c
322804,USA000007902381,trip_n,19,8,1,c
322805,USA000007902381,trip_4,20,9,1,c
322806,USA000007902381,trip_n,21,8,1,c
322807,USA000007902381,trip_4,22,9,1,c
322808,USA000007902381,Cancel,23,11,1,c
322809,USA000007902381,country_trains,24,3,1,c
322810,USA000007902381,concession,25,5,1,c
322811,USA000007902381,individual,26,6,1,c
322812,USA000007902381,trip_4,27,9,1,c
322813,USA000007902381,Cancel,28,11,1,c
322814,USA000007902381,city_subway,29,2,1,a
322815,USA000007902381,concession,30,5,1,a
322816,USA000007902381,daily,31,7,1,a
322817,USA000007902381,Cancel,32,11,1,a
322818,USA000007902381,city_subway,33,2,1,b
322819,USA000007902381,concession,34,5,1,b
322820,USA000007902381,individual,35,6,1,b
322821,USA000007902381,trip_4,36,9,1,b
322822,USA000007902381,Buy,37,10,1,b
322825,USA000007902365,city_subway,2,2,0,a
322826,USA000007902365,concession,3,5,0,a
322827,USA000007902365,daily,4,7,0,a
322828,USA000007902365,Cancel,5,11,0,a
322829,USA000007902365,country_trains,6,3,0,c
322830,USA000007902365,full_fare,7,4,0,c
322831,USA000007902365,Cancel,8,11,0,c
322832,USA000007902365,country_trains,9,3,0,c
322833,USA000007902365,concession,10,5,0,c
322834,USA000007902365,daily,11,7,0,c
322835,USA000007902365,Cancel,12,11,0,c
322836,USA000007902365,city_subway,13,2,0,c
322837,USA000007902365,full_fare,14,4,0,c
322838,USA000007902365,Cancel,15,11,0,c
322839,USA000007902365,city_subway,16,2,0,c
322840,USA000007902365,concession,17,5,0,c
322841,USA000007902365,daily,18,7,0,c
322842,USA000007902365,Buy,19,10,0,c

In [41]:
df_action['final_sequence'] = ''
df_action["final_sequence"] = np.nan
df_action

,ID,event_value,event_number,instance,credit,sequence,final_sequence
1,ARE000018904852,country_trains,2,3,0,c,NaN
2,ARE000018904852,full_fare,3,4,0,c,NaN
3,ARE000018904852,daily,4,7,0,c,NaN
4,ARE000018904852,Buy,5,10,0,c,NaN
7,ARE000018904861,country_trains,2,3,0,c,NaN
...,...,...,...,...,...,...,...
322838,USA000007902365,Cancel,15,11,0,c,NaN
322839,USA000007902365,city_subway,16,2,0,c,NaN
322840,USA000007902365,concession,17,5,0,c,NaN
322841,USA000007902365,daily,18,7,0,c,NaN
322842,USA000007902365,Buy,19,10,0,c,NaN

In [42]:
df_action.to_csv('1_GenerateVariables_2_sequence_abs.csv', index=False)

### 시퀀스 열 만들기(a, b는 연속으로 중복될 경우 하나만 쓰고, c는 모두 남김; ex. aaabbbbcc인경우 abcc로 만듦)

In [43]:
df_action = pd.read_csv('/content/1_GenerateVariables_2_sequence_abs.csv')

In [44]:
df_action.tail(50)

,ID,event_value,event_number,instance,credit,sequence,final_sequence
261850,USA000007902381,trip_n,6,8,1,c,NaN
261851,USA000007902381,trip_n,7,8,1,c,NaN
261852,USA000007902381,trip_n,8,8,1,c,NaN
261853,USA000007902381,trip_n,9,8,1,c,NaN
261854,USA000007902381,trip_n,10,8,1,c,NaN
261855,USA000007902381,trip_n,11,8,1,c,NaN
261856,USA000007902381,trip_n,12,8,1,c,NaN
261857,USA000007902381,trip_4,13,9,1,c,NaN
261858,USA000007902381,trip_n,14,8,1,c,NaN
261859,USA000007902381,trip_4,15,9,1,c,NaN
261860,USA000007902381,trip_n,16,8,1,c,NaN
261861,USA000007902381,trip_n,17,8,1,c,NaN
261862,USA000007902381,trip_n,18,8,1,c,NaN
261863,USA000007902381,trip_n,19,8,1,c,NaN
261864,USA000007902381,trip_4,20,9,1,c,NaN
261865,USA000007902381,trip_n,21,8,1,c,NaN
261866,USA000007902381,trip_4,22,9,1,c,NaN
261867,USA000007902381,Cancel,23,11,1,c,NaN
261868,USA000007902381,country_trains,24,3,1,c,NaN
261869,USA000007902381,concession,25,5,1,c,NaN
261870,USA000007902381,individual,26,6,1,c,NaN
261871,USA000007902381,trip_4,27,9,1,c,NaN
261872,USA000007902381,Cancel,28,11,1,c,NaN
261873,USA000007902381,city_subway,29,2,1,a,NaN
261874,USA000007902381,concession,30,5,1,a,NaN
261875,USA000007902381,daily,31,7,1,a,NaN
261876,USA000007902381,Cancel,32,11,1,a,NaN
261877,USA000007902381,city_subway,33,2,1,b,NaN
261878,USA000007902381,concession,34,5,1,b,NaN
261879,USA000007902381,individual,35,6,1,b,NaN
261880,USA000007902381,trip_4,36,9,1,b,NaN
261881,USA000007902381,Buy,37,10,1,b,NaN
261882,USA000007902365,city_subway,2,2,0,a,NaN
261883,USA000007902365,concession,3,5,0,a,NaN
261884,USA000007902365,daily,4,7,0,a,NaN
261885,USA000007902365,Cancel,5,11,0,a,NaN
261886,USA000007902365,country_trains,6,3,0,c,NaN
261887,USA000007902365,full_fare,7,4,0,c,NaN
261888,USA000007902365,Cancel,8,11,0,c,NaN
261889,USA000007902365,country_trains,9,3,0,c,NaN
261890,USA000007902365,concession,10,5,0,c,NaN
261891,USA000007902365,daily,11,7,0,c,NaN
261892,USA000007902365,Cancel,12,11,0,c,NaN
261893,USA000007902365,city_subway,13,2,0,c,NaN
261894,USA000007902365,full_fare,14,4,0,c,NaN
261895,USA000007902365,Cancel,15,11,0,c,NaN
261896,USA000007902365,city_subway,16,2,0,c,NaN
261897,USA000007902365,concession,17,5,0,c,NaN
261898,USA000007902365,daily,18,7,0,c,NaN
261899,USA000007902365,Buy,19,10,0,c,NaN

In [45]:
# b 13개짜리 (Buy)-> 마지막 1개만 final_sequence에 남기기
for i in range(len(df_action)-12):
    if (df_action['event_value'][i+12]=='Buy') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['ID'][i+4]==df_action['ID'][i+5]) and (df_action['ID'][i+5]==df_action['ID'][i+6]) and (df_action['ID'][i+6]==df_action['ID'][i+7]) and (df_action['ID'][i+7]==df_action['ID'][i+8]) and (df_action['ID'][i+8]==df_action['ID'][i+9]) and (df_action['ID'][i+9]==df_action['ID'][i+10]) and (df_action['ID'][i+10]==df_action['ID'][i+11]) and (df_action['ID'][i+11]==df_action['ID'][i+12]) and (df_action['event_value'][i]=='city_subway') and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b') and (df_action['sequence'][i+5]=='b') and (df_action['sequence'][i+6]=='b') and (df_action['sequence'][i+7]=='b') and (df_action['sequence'][i+8]=='b') and (df_action['sequence'][i+9]=='b') and (df_action['sequence'][i+10]=='b') and (df_action['sequence'][i+11]=='b') and (df_action['sequence'][i+12]=='b'):
        df_action['final_sequence'][i+12]='b'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [46]:
# b 13개짜리 (Cancel)
for i in range(len(df_action)-12):
    if (df_action['event_value'][i+12]=='Cancel') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['ID'][i+4]==df_action['ID'][i+5]) and (df_action['ID'][i+5]==df_action['ID'][i+6]) and (df_action['ID'][i+6]==df_action['ID'][i+7]) and (df_action['ID'][i+7]==df_action['ID'][i+8]) and (df_action['ID'][i+8]==df_action['ID'][i+9]) and (df_action['ID'][i+9]==df_action['ID'][i+10]) and (df_action['ID'][i+10]==df_action['ID'][i+11]) and (df_action['ID'][i+11]==df_action['ID'][i+12]) and (df_action['event_value'][i]=='city_subway') and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b') and (df_action['sequence'][i+5]=='b') and (df_action['sequence'][i+6]=='b') and (df_action['sequence'][i+7]=='b') and (df_action['sequence'][i+8]=='b') and (df_action['sequence'][i+9]=='b') and (df_action['sequence'][i+10]=='b') and (df_action['sequence'][i+11]=='b') and (df_action['sequence'][i+12]=='b'):
        df_action['final_sequence'][i+12]='b'

In [47]:
# b 12개짜리 (Buy)
for i in range(len(df_action)-11):
    if (df_action['event_value'][i+11]=='Buy') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['ID'][i+4]==df_action['ID'][i+5]) and (df_action['ID'][i+5]==df_action['ID'][i+6]) and (df_action['ID'][i+6]==df_action['ID'][i+7]) and (df_action['ID'][i+7]==df_action['ID'][i+8]) and (df_action['ID'][i+8]==df_action['ID'][i+9]) and (df_action['ID'][i+9]==df_action['ID'][i+10]) and (df_action['ID'][i+10]==df_action['ID'][i+11]) and (df_action['event_value'][i]=='city_subway') and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b') and (df_action['sequence'][i+5]=='b') and (df_action['sequence'][i+6]=='b') and (df_action['sequence'][i+7]=='b') and (df_action['sequence'][i+8]=='b') and (df_action['sequence'][i+9]=='b') and (df_action['sequence'][i+10]=='b') and (df_action['sequence'][i+11]=='b'):
        df_action['final_sequence'][i+11]='b'

In [48]:
# b 12개짜리(Cancel)
for i in range(len(df_action)-11):
    if (df_action['event_value'][i+11]=='Cancel') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['ID'][i+4]==df_action['ID'][i+5]) and (df_action['ID'][i+5]==df_action['ID'][i+6]) and (df_action['ID'][i+6]==df_action['ID'][i+7]) and (df_action['ID'][i+7]==df_action['ID'][i+8]) and (df_action['ID'][i+8]==df_action['ID'][i+9]) and (df_action['ID'][i+9]==df_action['ID'][i+10]) and (df_action['ID'][i+10]==df_action['ID'][i+11]) and (df_action['event_value'][i]=='city_subway') and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b') and (df_action['sequence'][i+5]=='b') and (df_action['sequence'][i+6]=='b') and (df_action['sequence'][i+7]=='b') and (df_action['sequence'][i+8]=='b') and (df_action['sequence'][i+9]=='b') and (df_action['sequence'][i+10]=='b') and (df_action['sequence'][i+11]=='b'):
        df_action['final_sequence'][i+11]='b'

In [49]:
# b 11개짜리(Buy)
for i in range(len(df_action)-10):
    if (df_action['event_value'][i]=='city_subway') and (df_action['event_value'][i+10]=='Buy') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['ID'][i+4]==df_action['ID'][i+5]) and (df_action['ID'][i+5]==df_action['ID'][i+6]) and (df_action['ID'][i+6]==df_action['ID'][i+7]) and (df_action['ID'][i+7]==df_action['ID'][i+8]) and (df_action['ID'][i+8]==df_action['ID'][i+9]) and (df_action['ID'][i+9]==df_action['ID'][i+10]) and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b') and (df_action['sequence'][i+5]=='b') and (df_action['sequence'][i+6]=='b') and (df_action['sequence'][i+7]=='b') and (df_action['sequence'][i+8]=='b') and (df_action['sequence'][i+9]=='b') and (df_action['sequence'][i+10]=='b'):
        df_action['final_sequence'][i+10]='b'

In [50]:
# b 11개짜리(Cancel)
for i in range(len(df_action)-10):
    if (df_action['event_value'][i]=='city_subway') and (df_action['event_value'][i+10]=='Cancel') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['ID'][i+4]==df_action['ID'][i+5]) and (df_action['ID'][i+5]==df_action['ID'][i+6]) and (df_action['ID'][i+6]==df_action['ID'][i+7]) and (df_action['ID'][i+7]==df_action['ID'][i+8]) and (df_action['ID'][i+8]==df_action['ID'][i+9]) and (df_action['ID'][i+9]==df_action['ID'][i+10]) and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b') and (df_action['sequence'][i+5]=='b') and (df_action['sequence'][i+6]=='b') and (df_action['sequence'][i+7]=='b') and (df_action['sequence'][i+8]=='b') and (df_action['sequence'][i+9]=='b') and (df_action['sequence'][i+10]=='b'):
        df_action['final_sequence'][i+10]='b'

In [51]:
# b 10개짜리(Buy)
for i in range(len(df_action)-9):
    if (df_action['event_value'][i+9]=='Buy') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['ID'][i+4]==df_action['ID'][i+5]) and (df_action['ID'][i+5]==df_action['ID'][i+6]) and (df_action['ID'][i+6]==df_action['ID'][i+7]) and (df_action['ID'][i+7]==df_action['ID'][i+8]) and (df_action['ID'][i+8]==df_action['ID'][i+9]) and (df_action['event_value'][i]=='city_subway') and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b') and (df_action['sequence'][i+5]=='b') and (df_action['sequence'][i+6]=='b') and (df_action['sequence'][i+7]=='b') and (df_action['sequence'][i+8]=='b') and (df_action['sequence'][i+9]=='b'):
        df_action['final_sequence'][i+9]='b'

In [52]:
# b 10개짜리(Cancel)
for i in range(len(df_action)-9):
    if (df_action['event_value'][i+9]=='Cancel') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['ID'][i+4]==df_action['ID'][i+5]) and (df_action['ID'][i+5]==df_action['ID'][i+6]) and (df_action['ID'][i+6]==df_action['ID'][i+7]) and (df_action['ID'][i+7]==df_action['ID'][i+8]) and (df_action['ID'][i+8]==df_action['ID'][i+9]) and (df_action['event_value'][i]=='city_subway') and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b') and (df_action['sequence'][i+5]=='b') and (df_action['sequence'][i+6]=='b') and (df_action['sequence'][i+7]=='b') and (df_action['sequence'][i+8]=='b') and (df_action['sequence'][i+9]=='b'):
        df_action['final_sequence'][i+9]='b'

In [53]:
# b 9개짜리(Buy)
for i in range(len(df_action)-8):
    if (df_action['event_value'][i+8]=='Buy') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['ID'][i+4]==df_action['ID'][i+5]) and (df_action['ID'][i+5]==df_action['ID'][i+6]) and (df_action['ID'][i+6]==df_action['ID'][i+7]) and (df_action['ID'][i+7]==df_action['ID'][i+8]) and (df_action['event_value'][i]=='city_subway') and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b') and (df_action['sequence'][i+5]=='b') and (df_action['sequence'][i+6]=='b') and (df_action['sequence'][i+7]=='b') and (df_action['sequence'][i+8]=='b'):
        df_action['final_sequence'][i+8]='b'

In [54]:
# b 9개짜리(Cancel)
for i in range(len(df_action)-8):
    if (df_action['event_value'][i+8]=='Cancel') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['ID'][i+4]==df_action['ID'][i+5]) and (df_action['ID'][i+5]==df_action['ID'][i+6]) and (df_action['ID'][i+6]==df_action['ID'][i+7]) and (df_action['ID'][i+7]==df_action['ID'][i+8]) and (df_action['event_value'][i]=='city_subway') and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b') and (df_action['sequence'][i+5]=='b') and (df_action['sequence'][i+6]=='b') and (df_action['sequence'][i+7]=='b') and (df_action['sequence'][i+8]=='b'):
        df_action['final_sequence'][i+8]='b'

In [55]:
# b 8개짜리(Buy)
for i in range(len(df_action)-7):
    if (df_action['event_value'][i+7]=='Buy') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['ID'][i+4]==df_action['ID'][i+5]) and (df_action['ID'][i+5]==df_action['ID'][i+6]) and (df_action['ID'][i+6]==df_action['ID'][i+7]) and (df_action['event_value'][i]=='city_subway') and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b') and (df_action['sequence'][i+5]=='b') and (df_action['sequence'][i+6]=='b') and (df_action['sequence'][i+7]=='b'):
        df_action['final_sequence'][i+7]='b'

In [56]:
# b 8개짜리(Cancel)
for i in range(len(df_action)-7):
    if (df_action['event_value'][i+7]=='Cancel') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['ID'][i+4]==df_action['ID'][i+5]) and (df_action['ID'][i+5]==df_action['ID'][i+6]) and (df_action['ID'][i+6]==df_action['ID'][i+7]) and (df_action['event_value'][i]=='city_subway') and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b') and (df_action['sequence'][i+5]=='b') and (df_action['sequence'][i+6]=='b') and (df_action['sequence'][i+7]=='b'):
        df_action['final_sequence'][i+7]='b'

In [57]:
# b 7개짜리(Buy)
for i in range(len(df_action)-6):
    if (df_action['event_value'][i+6]=='Buy') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['ID'][i+4]==df_action['ID'][i+5]) and (df_action['ID'][i+5]==df_action['ID'][i+6]) and (df_action['event_value'][i]=='city_subway') and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b') and (df_action['sequence'][i+5]=='b') and (df_action['sequence'][i+6]=='b'):
        df_action['final_sequence'][i+6]='b'

In [58]:
# b 7개짜리(Cancel)
for i in range(len(df_action)-6):
    if (df_action['event_value'][i+6]=='Cancel') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['ID'][i+4]==df_action['ID'][i+5]) and (df_action['ID'][i+5]==df_action['ID'][i+6]) and (df_action['event_value'][i]=='city_subway') and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b') and (df_action['sequence'][i+5]=='b') and (df_action['sequence'][i+6]=='b'):
        df_action['final_sequence'][i+6]='b'

In [59]:
# b 6개짜리(Buy)
for i in range(len(df_action)-5):
    if (df_action['event_value'][i+5]=='Buy') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['ID'][i+4]==df_action['ID'][i+5]) and (df_action['event_value'][i]=='city_subway') and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b') and (df_action['sequence'][i+5]=='b'):
        df_action['final_sequence'][i+5]='b'

In [60]:
# b 6개짜리(Cancel)
for i in range(len(df_action)-5):
    if (df_action['event_value'][i+5]=='Cancel') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['ID'][i+4]==df_action['ID'][i+5]) and (df_action['event_value'][i]=='city_subway') and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b') and (df_action['sequence'][i+5]=='b'):
        df_action['final_sequence'][i+5]='b'

In [61]:
# b 5개짜리(Buy)
for i in range(len(df_action)-4):
    if (df_action['event_value'][i+4]=='Buy') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['event_value'][i]=='city_subway') and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b'):
        df_action['final_sequence'][i+4]='b'

In [62]:
# b 5개짜리(Cancel)
for i in range(len(df_action)-4):
    if (df_action['event_value'][i+4]=='Cancel') and (df_action['ID'][i]==df_action['ID'][i+1]) and (df_action['ID'][i+1]==df_action['ID'][i+2]) and (df_action['ID'][i+2]==df_action['ID'][i+3]) and (df_action['ID'][i+3]==df_action['ID'][i+4]) and (df_action['event_value'][i]=='city_subway') and (df_action['sequence'][i]=='b') and (df_action['sequence'][i+1]=='b') and (df_action['sequence'][i+2]=='b') and (df_action['sequence'][i+3]=='b') and (df_action['sequence'][i+4]=='b'):
        df_action['final_sequence'][i+4]='b'

In [63]:
# a 4개짜리
for i in range(len(df_action)-3):
    if (df_action['sequence'][i]=='a') and (df_action['sequence'][i+1]=='a') and (df_action['sequence'][i+2]=='a') and (df_action['sequence'][i+3]=='a'):
        df_action['final_sequence'][i+3]='a'

In [64]:
df_action.tail(60)

,ID,event_value,event_number,instance,credit,sequence,final_sequence
261840,USA000007902371,individual,8,6,1,b,NaN
261841,USA000007902371,trip_n,9,8,1,b,NaN
261842,USA000007902371,trip_4,10,9,1,b,NaN
261843,USA000007902371,trip_n,11,8,1,b,NaN
261844,USA000007902371,trip_4,12,9,1,b,NaN
261845,USA000007902371,Buy,13,10,1,b,b
261846,USA000007902381,city_subway,2,2,1,c,NaN
261847,USA000007902381,concession,3,5,1,c,NaN
261848,USA000007902381,individual,4,6,1,c,NaN
261849,USA000007902381,trip_n,5,8,1,c,NaN
261850,USA000007902381,trip_n,6,8,1,c,NaN
261851,USA000007902381,trip_n,7,8,1,c,NaN
261852,USA000007902381,trip_n,8,8,1,c,NaN
261853,USA000007902381,trip_n,9,8,1,c,NaN
261854,USA000007902381,trip_n,10,8,1,c,NaN
261855,USA000007902381,trip_n,11,8,1,c,NaN
261856,USA000007902381,trip_n,12,8,1,c,NaN
261857,USA000007902381,trip_4,13,9,1,c,NaN
261858,USA000007902381,trip_n,14,8,1,c,NaN
261859,USA000007902381,trip_4,15,9,1,c,NaN
261860,USA000007902381,trip_n,16,8,1,c,NaN
261861,USA000007902381,trip_n,17,8,1,c,NaN
261862,USA000007902381,trip_n,18,8,1,c,NaN
261863,USA000007902381,trip_n,19,8,1,c,NaN
261864,USA000007902381,trip_4,20,9,1,c,NaN
261865,USA000007902381,trip_n,21,8,1,c,NaN
261866,USA000007902381,trip_4,22,9,1,c,NaN
261867,USA000007902381,Cancel,23,11,1,c,NaN
261868,USA000007902381,country_trains,24,3,1,c,NaN
261869,USA000007902381,concession,25,5,1,c,NaN
261870,USA000007902381,individual,26,6,1,c,NaN
261871,USA000007902381,trip_4,27,9,1,c,NaN
261872,USA000007902381,Cancel,28,11,1,c,NaN
261873,USA000007902381,city_subway,29,2,1,a,NaN
261874,USA000007902381,concession,30,5,1,a,NaN
261875,USA000007902381,daily,31,7,1,a,NaN
261876,USA000007902381,Cancel,32,11,1,a,a
261877,USA000007902381,city_subway,33,2,1,b,NaN
261878,USA000007902381,concession,34,5,1,b,NaN
261879,USA000007902381,individual,35,6,1,b,NaN
261880,USA000007902381,trip_4,36,9,1,b,NaN
261881,USA000007902381,Buy,37,10,1,b,b
261882,USA000007902365,city_subway,2,2,0,a,NaN
261883,USA000007902365,concession,3,5,0,a,NaN
261884,USA000007902365,daily,4,7,0,a,NaN
261885,USA000007902365,Cancel,5,11,0,a,a
261886,USA000007902365,country_trains,6,3,0,c,NaN
261887,USA000007902365,full_fare,7,4,0,c,NaN
261888,USA000007902365,Cancel,8,11,0,c,NaN
261889,USA000007902365,country_trains,9,3,0,c,NaN
261890,USA000007902365,concession,10,5,0,c,NaN
261891,USA000007902365,daily,11,7,0,c,NaN
261892,USA000007902365,Cancel,12,11,0,c,NaN
261893,USA000007902365,city_subway,13,2,0,c,NaN
261894,USA000007902365,full_fare,14,4,0,c,NaN
261895,USA000007902365,Cancel,15,11,0,c,NaN
261896,USA000007902365,city_subway,16,2,0,c,NaN
261897,USA000007902365,concession,17,5,0,c,NaN
261898,USA000007902365,daily,18,7,0,c,NaN
261899,USA000007902365,Buy,19,10,0,c,NaN

In [65]:
# a, b결측제거(=마지막만 남김)
df_without_c = df_action.dropna(axis=0)

### c없는 문자열 만들기

In [66]:
new_stu_id = df_without_c['ID'].unique().tolist()
len(new_stu_id)

14491

In [67]:
# 문자열 합치기
full_sequence = []
for i in tqdm(new_stu_id):
    a = df_without_c[df_without_c['ID']==i]
    
    seq1 = a['sequence'].tolist()
    seq2 = ''.join(seq1)
    full_sequence.append(seq2)

100%|██████████| 14491/14491 [00:40<00:00, 361.88it/s]

In [68]:
df_seq_no_c = pd.DataFrame({'stu_id':new_stu_id, 'sequence':full_sequence})
df_seq_no_c.tail(20)

                stu_id sequence
14471  USA000000900246       ab
14472  USA000012603869        b
14473  USA000005901731        a
14474  USA000010603226       ab
14475  USA000013003978        b
14476  USA000013003967        b
14477  USA000008902703        a
14478  USA000015804888       ab
14479  USA000015804879       ab
14480  USA000015804866        b
14481  USA000015904901     abab
14482  USA000010403183       ab
14483  USA000013604188        b
14484  USA000013604175     abab
14485  USA000015004612       ab
14486  USA000015004637       ab
14487  USA000007902358       ab
14488  USA000007902371       ab
14489  USA000007902381       ab
14490  USA000007902365        a

In [69]:
df_seq_no_c['length'] = ''
df_seq_no_c["length"] = np.nan

In [70]:
for i in range(len(df_seq_no_c)):
    df_seq_no_c['length'][i] = len(df_seq_no_c['sequence'][i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [71]:
df_seq_no_c.tail(20)

                stu_id sequence  length
14471  USA000000900246       ab     2.0
14472  USA000012603869        b     1.0
14473  USA000005901731        a     1.0
14474  USA000010603226       ab     2.0
14475  USA000013003978        b     1.0
14476  USA000013003967        b     1.0
14477  USA000008902703        a     1.0
14478  USA000015804888       ab     2.0
14479  USA000015804879       ab     2.0
14480  USA000015804866        b     1.0
14481  USA000015904901     abab     4.0
14482  USA000010403183       ab     2.0
14483  USA000013604188        b     1.0
14484  USA000013604175     abab     4.0
14485  USA000015004612       ab     2.0
14486  USA000015004637       ab     2.0
14487  USA000007902358       ab     2.0
14488  USA000007902371       ab     2.0
14489  USA000007902381       ab     2.0
14490  USA000007902365        a     1.0

In [82]:
df_seq_no_c.to_csv('1_GenerateVariables_2_sequence_abs_and_length.csv', index=False)

### 시퀀스 열 만들기 (a, b, c 포함)

In [73]:
# for i in range(len(df_action)):
#    if (df_action['sequence'][i]=='c'):
#        df_action['final_sequence'][i]='c'

In [74]:
# a, b결측제거(=마지막만 남김)
# df = df_action.dropna(axis=0)

In [75]:
# new_stu_id = df['ID'].unique().tolist()
# len(new_stu_id)

In [76]:
# 문자열 합치기
# full_sequence = []
# for i in tqdm(new_stu_id):
#    a = df[df['ID']==i]
#    
#    seq1 = a['sequence'].tolist()
#    seq2 = ''.join(seq1)
#    full_sequence.append(seq2)

In [77]:
# 학생 당 점수 붙이기
# credit = []
# for i in tqdm(new_stu_id):
#    a = df[df['ID']==i]
#    stu_credit = min(a['credit'])
#    credit.append(stu_credit)

In [78]:
# df_seq = pd.DataFrame({'stu_id':new_stu_id, 'credit':credit, 'sequence':full_sequence})
# df_seq.tail(20)

In [79]:
# df_seq['length'] = ''
# df_seq["length"] = np.nan

In [80]:
# for i in range(len(df_seq)):
#    df_seq['length'][i] = len(df_seq['sequence'][i])