In [ ]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/EM:IP/정리/최종 데이터 파일/variables/2_ExploratoryAnalysis_0_start_with_all.csv", index_col = False)

In [ ]:
df = df[['ID','cnt','time_A_total','time_b1','time_b2','time_B_total','time_start','time_end','time_solving','time_total', 'time_answer','time_not_answer','avg_time_btw_events','length','events_num','credit','OECD']]
df['length'] = df['length'].astype(int)
df['time_start'] = df['time_start'].astype(float)
df['time_end'] = df['time_end'].astype(float)
df['time_solving'] = df['time_solving'].astype(float)
df['time_total'] = df['time_total'].astype(float)
df['time_answer'] = df['time_answer'].astype(float)
df['time_not_answer'] = df['time_not_answer'].astype(float)
df['avg_time_btw_events'] = df['avg_time_btw_events'].astype(float)
df.set_index('ID', inplace=True)
df

,cnt,time_A_total,time_b1,time_b2,time_B_total,time_start,time_end,time_solving,time_total,time_answer,time_not_answer,avg_time_btw_events,length,events_num,credit,OECD
ID,,,,,,,,,,,,,,,,
ARE000018904852,ARE,0.0,0.0,0.0,0.0,8.9,3.8,28.1,40.8,0.0,28.1,9.366667,0,3,0,0
ARE000018904861,ARE,0.0,0.0,0.0,0.0,26.2,9.9,22.3,58.4,0.0,22.3,7.433333,0,3,0,0
ARE000018904843,ARE,0.0,0.0,0.0,0.0,29.8,9.9,19.6,59.3,0.0,19.6,2.450000,0,8,0,0
ARE000018904832,ARE,0.0,0.0,0.0,0.0,34.4,5.0,25.4,64.8,0.0,25.4,8.466667,0,3,0,0
ARE000040210135,ARE,0.0,0.0,0.0,0.0,143.3,16.9,21.4,181.6,0.0,21.4,5.350000,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA000015004637,USA,25.8,11.5,0.0,11.5,19.8,2.5,41.7,64.0,37.3,4.4,4.170000,2,10,1,1
USA000007902358,USA,35.9,12.9,0.0,12.9,24.7,6.4,50.2,81.3,48.8,1.4,6.275000,2,8,1,1
USA000007902371,USA,33.3,15.8,0.0,15.8,11.9,12.5,50.0,74.4,49.1,0.9,4.545455,2,11,1,1
USA000007902381,USA,9.1,5.9,49.4,55.3,11.3,4.4,79.7,95.4,64.4,15.3,3.188000,3,25,1,1
USA000007902365,USA,7.9,0.0,0.0,0.0,25.3,1.7,35.6,62.6,7.9,27.7,2.094118,1,17,0,1

In [ ]:
# time_start IQR
timestart_25 = np.quantile(df['time_start'], 0.25)
timestart_75 = np.quantile(df['time_start'],0.75)
timestart_IQR = timestart_75 - timestart_25
timestart_min = timestart_25 - 5.0 * timestart_IQR
timestart_max = timestart_75 + 5.0 * timestart_IQR
df_1 = df[(timestart_min <= df['time_start']) & (df['time_start'] <= timestart_max)]
df_1

,cnt,time_A_total,time_b1,time_b2,time_B_total,time_start,time_end,time_solving,time_total,time_answer,time_not_answer,avg_time_btw_events,length,events_num,credit,OECD
ID,,,,,,,,,,,,,,,,
ARE000018904852,ARE,0.0,0.0,0.0,0.0,8.9,3.8,28.1,40.8,0.0,28.1,9.366667,0,3,0,0
ARE000018904861,ARE,0.0,0.0,0.0,0.0,26.2,9.9,22.3,58.4,0.0,22.3,7.433333,0,3,0,0
ARE000018904843,ARE,0.0,0.0,0.0,0.0,29.8,9.9,19.6,59.3,0.0,19.6,2.450000,0,8,0,0
ARE000018904832,ARE,0.0,0.0,0.0,0.0,34.4,5.0,25.4,64.8,0.0,25.4,8.466667,0,3,0,0
ARE000040210143,ARE,0.0,0.0,0.0,0.0,33.4,12.2,6.1,51.7,0.0,6.1,1.525000,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA000015004637,USA,25.8,11.5,0.0,11.5,19.8,2.5,41.7,64.0,37.3,4.4,4.170000,2,10,1,1
USA000007902358,USA,35.9,12.9,0.0,12.9,24.7,6.4,50.2,81.3,48.8,1.4,6.275000,2,8,1,1
USA000007902371,USA,33.3,15.8,0.0,15.8,11.9,12.5,50.0,74.4,49.1,0.9,4.545455,2,11,1,1
USA000007902381,USA,9.1,5.9,49.4,55.3,11.3,4.4,79.7,95.4,64.4,15.3,3.188000,3,25,1,1
USA000007902365,USA,7.9,0.0,0.0,0.0,25.3,1.7,35.6,62.6,7.9,27.7,2.094118,1,17,0,1

In [ ]:
# time_A_total IQR
timeA_25 = np.quantile(df['time_A_total'], 0.25)
timeA_75 = np.quantile(df['time_A_total'],0.75)
timeA_IQR = timeA_75 - timeA_25
timeA_min = timeA_25 - 5.0 * timeA_IQR
timeA_max = timeA_75 + 5.0 * timeA_IQR
df_2 = df[(timeA_min <= df['time_A_total']) & (df['time_A_total'] <= timeA_max)]
df_2

,cnt,time_A_total,time_b1,time_b2,time_B_total,time_start,time_end,time_solving,time_total,time_answer,time_not_answer,avg_time_btw_events,length,events_num,credit,OECD
ID,,,,,,,,,,,,,,,,
ARE000018904852,ARE,0.0,0.0,0.0,0.0,8.9,3.8,28.1,40.8,0.0,28.1,9.366667,0,3,0,0
ARE000018904861,ARE,0.0,0.0,0.0,0.0,26.2,9.9,22.3,58.4,0.0,22.3,7.433333,0,3,0,0
ARE000018904843,ARE,0.0,0.0,0.0,0.0,29.8,9.9,19.6,59.3,0.0,19.6,2.450000,0,8,0,0
ARE000018904832,ARE,0.0,0.0,0.0,0.0,34.4,5.0,25.4,64.8,0.0,25.4,8.466667,0,3,0,0
ARE000040210135,ARE,0.0,0.0,0.0,0.0,143.3,16.9,21.4,181.6,0.0,21.4,5.350000,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA000015004637,USA,25.8,11.5,0.0,11.5,19.8,2.5,41.7,64.0,37.3,4.4,4.170000,2,10,1,1
USA000007902358,USA,35.9,12.9,0.0,12.9,24.7,6.4,50.2,81.3,48.8,1.4,6.275000,2,8,1,1
USA000007902371,USA,33.3,15.8,0.0,15.8,11.9,12.5,50.0,74.4,49.1,0.9,4.545455,2,11,1,1
USA000007902381,USA,9.1,5.9,49.4,55.3,11.3,4.4,79.7,95.4,64.4,15.3,3.188000,3,25,1,1
USA000007902365,USA,7.9,0.0,0.0,0.0,25.3,1.7,35.6,62.6,7.9,27.7,2.094118,1,17,0,1

In [ ]:
# time_b1 IQR
timeb1_25 = np.quantile(df['time_b1'], 0.25)
timeb1_75 = np.quantile(df['time_b1'],0.75)
timeb1_IQR = timeb1_75 - timeb1_25
timeb1_min = timeb1_25 - 5.0 * timeb1_IQR
timeb1_max = timeb1_75 + 5.0 * timeb1_IQR
df_3 = df[(timeb1_min <= df['time_b1']) & (df['time_b1'] <= timeb1_max)]
df_3

,cnt,time_A_total,time_b1,time_b2,time_B_total,time_start,time_end,time_solving,time_total,time_answer,time_not_answer,avg_time_btw_events,length,events_num,credit,OECD
ID,,,,,,,,,,,,,,,,
ARE000018904852,ARE,0.0,0.0,0.0,0.0,8.9,3.8,28.1,40.8,0.0,28.1,9.366667,0,3,0,0
ARE000018904861,ARE,0.0,0.0,0.0,0.0,26.2,9.9,22.3,58.4,0.0,22.3,7.433333,0,3,0,0
ARE000018904843,ARE,0.0,0.0,0.0,0.0,29.8,9.9,19.6,59.3,0.0,19.6,2.450000,0,8,0,0
ARE000018904832,ARE,0.0,0.0,0.0,0.0,34.4,5.0,25.4,64.8,0.0,25.4,8.466667,0,3,0,0
ARE000040210135,ARE,0.0,0.0,0.0,0.0,143.3,16.9,21.4,181.6,0.0,21.4,5.350000,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA000015004637,USA,25.8,11.5,0.0,11.5,19.8,2.5,41.7,64.0,37.3,4.4,4.170000,2,10,1,1
USA000007902358,USA,35.9,12.9,0.0,12.9,24.7,6.4,50.2,81.3,48.8,1.4,6.275000,2,8,1,1
USA000007902371,USA,33.3,15.8,0.0,15.8,11.9,12.5,50.0,74.4,49.1,0.9,4.545455,2,11,1,1
USA000007902381,USA,9.1,5.9,49.4,55.3,11.3,4.4,79.7,95.4,64.4,15.3,3.188000,3,25,1,1
USA000007902365,USA,7.9,0.0,0.0,0.0,25.3,1.7,35.6,62.6,7.9,27.7,2.094118,1,17,0,1

In [ ]:
# time_b2 IQR
timeb2_25 = np.quantile(df['time_b2'], 0.25)
timeb2_75 = np.quantile(df['time_b2'],0.75)
timeb2_IQR = timeb2_75 - timeb2_25
timeb2_min = timeb2_25 - 5.0 * timeb2_IQR
timeb2_max = timeb2_75 + 5.0 * timeb2_IQR
df_4 = df[(timeb2_min <= df['time_b2']) & (df['time_b2'] <= timeb2_max)]
df_4

,cnt,time_A_total,time_b1,time_b2,time_B_total,time_start,time_end,time_solving,time_total,time_answer,time_not_answer,avg_time_btw_events,length,events_num,credit,OECD
ID,,,,,,,,,,,,,,,,
ARE000018904852,ARE,0.0,0.0,0.0,0.0,8.9,3.8,28.1,40.8,0.0,28.1,9.366667,0,3,0,0
ARE000018904861,ARE,0.0,0.0,0.0,0.0,26.2,9.9,22.3,58.4,0.0,22.3,7.433333,0,3,0,0
ARE000018904843,ARE,0.0,0.0,0.0,0.0,29.8,9.9,19.6,59.3,0.0,19.6,2.450000,0,8,0,0
ARE000018904832,ARE,0.0,0.0,0.0,0.0,34.4,5.0,25.4,64.8,0.0,25.4,8.466667,0,3,0,0
ARE000040210135,ARE,0.0,0.0,0.0,0.0,143.3,16.9,21.4,181.6,0.0,21.4,5.350000,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA000015004612,USA,8.1,8.3,0.0,8.3,15.7,4.6,18.0,38.3,16.4,1.6,2.250000,2,8,1,1
USA000015004637,USA,25.8,11.5,0.0,11.5,19.8,2.5,41.7,64.0,37.3,4.4,4.170000,2,10,1,1
USA000007902358,USA,35.9,12.9,0.0,12.9,24.7,6.4,50.2,81.3,48.8,1.4,6.275000,2,8,1,1
USA000007902371,USA,33.3,15.8,0.0,15.8,11.9,12.5,50.0,74.4,49.1,0.9,4.545455,2,11,1,1
USA000007902365,USA,7.9,0.0,0.0,0.0,25.3,1.7,35.6,62.6,7.9,27.7,2.094118,1,17,0,1

In [ ]:
# time_solving IQR
timeS_25 = np.quantile(df['time_solving'], 0.25)
timeS_75 = np.quantile(df['time_solving'],0.75)
timeS_IQR = timeS_75 - timeS_25
timeS_min = timeS_25 - 5.0 * timeS_IQR
timeS_max = timeS_75 + 5.0 * timeS_IQR
df_5 = df[(timeS_min <= df['time_solving']) & (df['time_solving'] <= timeS_max)]
df_5

,cnt,time_A_total,time_b1,time_b2,time_B_total,time_start,time_end,time_solving,time_total,time_answer,time_not_answer,avg_time_btw_events,length,events_num,credit,OECD
ID,,,,,,,,,,,,,,,,
ARE000018904852,ARE,0.0,0.0,0.0,0.0,8.9,3.8,28.1,40.8,0.0,28.1,9.366667,0,3,0,0
ARE000018904861,ARE,0.0,0.0,0.0,0.0,26.2,9.9,22.3,58.4,0.0,22.3,7.433333,0,3,0,0
ARE000018904843,ARE,0.0,0.0,0.0,0.0,29.8,9.9,19.6,59.3,0.0,19.6,2.450000,0,8,0,0
ARE000018904832,ARE,0.0,0.0,0.0,0.0,34.4,5.0,25.4,64.8,0.0,25.4,8.466667,0,3,0,0
ARE000040210135,ARE,0.0,0.0,0.0,0.0,143.3,16.9,21.4,181.6,0.0,21.4,5.350000,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA000015004637,USA,25.8,11.5,0.0,11.5,19.8,2.5,41.7,64.0,37.3,4.4,4.170000,2,10,1,1
USA000007902358,USA,35.9,12.9,0.0,12.9,24.7,6.4,50.2,81.3,48.8,1.4,6.275000,2,8,1,1
USA000007902371,USA,33.3,15.8,0.0,15.8,11.9,12.5,50.0,74.4,49.1,0.9,4.545455,2,11,1,1
USA000007902381,USA,9.1,5.9,49.4,55.3,11.3,4.4,79.7,95.4,64.4,15.3,3.188000,3,25,1,1
USA000007902365,USA,7.9,0.0,0.0,0.0,25.3,1.7,35.6,62.6,7.9,27.7,2.094118,1,17,0,1

In [ ]:
# time_total IQR
timeT_25 = np.quantile(df['time_total'], 0.25)
timeT_75 = np.quantile(df['time_total'],0.75)
timeT_IQR = timeT_75 - timeT_25
timeT_min = timeT_25 - 5.0 * timeT_IQR
timeT_max = timeT_75 + 5.0 * timeT_IQR
df_6 = df[(timeT_min <= df['time_total']) & (df['time_total'] <= timeT_max)]
df_6

,cnt,time_A_total,time_b1,time_b2,time_B_total,time_start,time_end,time_solving,time_total,time_answer,time_not_answer,avg_time_btw_events,length,events_num,credit,OECD
ID,,,,,,,,,,,,,,,,
ARE000018904852,ARE,0.0,0.0,0.0,0.0,8.9,3.8,28.1,40.8,0.0,28.1,9.366667,0,3,0,0
ARE000018904861,ARE,0.0,0.0,0.0,0.0,26.2,9.9,22.3,58.4,0.0,22.3,7.433333,0,3,0,0
ARE000018904843,ARE,0.0,0.0,0.0,0.0,29.8,9.9,19.6,59.3,0.0,19.6,2.450000,0,8,0,0
ARE000018904832,ARE,0.0,0.0,0.0,0.0,34.4,5.0,25.4,64.8,0.0,25.4,8.466667,0,3,0,0
ARE000040210135,ARE,0.0,0.0,0.0,0.0,143.3,16.9,21.4,181.6,0.0,21.4,5.350000,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA000015004637,USA,25.8,11.5,0.0,11.5,19.8,2.5,41.7,64.0,37.3,4.4,4.170000,2,10,1,1
USA000007902358,USA,35.9,12.9,0.0,12.9,24.7,6.4,50.2,81.3,48.8,1.4,6.275000,2,8,1,1
USA000007902371,USA,33.3,15.8,0.0,15.8,11.9,12.5,50.0,74.4,49.1,0.9,4.545455,2,11,1,1
USA000007902381,USA,9.1,5.9,49.4,55.3,11.3,4.4,79.7,95.4,64.4,15.3,3.188000,3,25,1,1
USA000007902365,USA,7.9,0.0,0.0,0.0,25.3,1.7,35.6,62.6,7.9,27.7,2.094118,1,17,0,1

In [ ]:
# time_answer IQR
answer_25 = np.quantile(df['time_answer'], 0.25)
answer_75 = np.quantile(df['time_answer'],0.75)
answer_IQR = answer_75 - answer_25
answer_min = answer_25 - 5.0 * answer_IQR
answer_max = answer_75 + 5.0 * answer_IQR
df_7 = df[(answer_min <= df['time_answer']) & (df['time_answer'] <= answer_max)]
df_7

,cnt,time_A_total,time_b1,time_b2,time_B_total,time_start,time_end,time_solving,time_total,time_answer,time_not_answer,avg_time_btw_events,length,events_num,credit,OECD
ID,,,,,,,,,,,,,,,,
ARE000018904852,ARE,0.0,0.0,0.0,0.0,8.9,3.8,28.1,40.8,0.0,28.1,9.366667,0,3,0,0
ARE000018904861,ARE,0.0,0.0,0.0,0.0,26.2,9.9,22.3,58.4,0.0,22.3,7.433333,0,3,0,0
ARE000018904843,ARE,0.0,0.0,0.0,0.0,29.8,9.9,19.6,59.3,0.0,19.6,2.450000,0,8,0,0
ARE000018904832,ARE,0.0,0.0,0.0,0.0,34.4,5.0,25.4,64.8,0.0,25.4,8.466667,0,3,0,0
ARE000040210135,ARE,0.0,0.0,0.0,0.0,143.3,16.9,21.4,181.6,0.0,21.4,5.350000,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA000015004637,USA,25.8,11.5,0.0,11.5,19.8,2.5,41.7,64.0,37.3,4.4,4.170000,2,10,1,1
USA000007902358,USA,35.9,12.9,0.0,12.9,24.7,6.4,50.2,81.3,48.8,1.4,6.275000,2,8,1,1
USA000007902371,USA,33.3,15.8,0.0,15.8,11.9,12.5,50.0,74.4,49.1,0.9,4.545455,2,11,1,1
USA000007902381,USA,9.1,5.9,49.4,55.3,11.3,4.4,79.7,95.4,64.4,15.3,3.188000,3,25,1,1
USA000007902365,USA,7.9,0.0,0.0,0.0,25.3,1.7,35.6,62.6,7.9,27.7,2.094118,1,17,0,1

In [ ]:
# time_not_answer IQR
notanswer_25 = np.quantile(df['time_not_answer'], 0.25)
notanswer_75 = np.quantile(df['time_not_answer'],0.75)
notanswer_IQR = notanswer_75 - notanswer_25
notanswer_min = notanswer_25 - 5.0 * notanswer_IQR
notanswer_max = notanswer_75 + 5.0 * notanswer_IQR
df_8 = df[(notanswer_min <= df['time_not_answer']) & (df['time_not_answer'] <= notanswer_max)]
df_8

,cnt,time_A_total,time_b1,time_b2,time_B_total,time_start,time_end,time_solving,time_total,time_answer,time_not_answer,avg_time_btw_events,length,events_num,credit,OECD
ID,,,,,,,,,,,,,,,,
ARE000018904852,ARE,0.0,0.0,0.0,0.0,8.9,3.8,28.1,40.8,0.0,28.1,9.366667,0,3,0,0
ARE000018904861,ARE,0.0,0.0,0.0,0.0,26.2,9.9,22.3,58.4,0.0,22.3,7.433333,0,3,0,0
ARE000018904843,ARE,0.0,0.0,0.0,0.0,29.8,9.9,19.6,59.3,0.0,19.6,2.450000,0,8,0,0
ARE000018904832,ARE,0.0,0.0,0.0,0.0,34.4,5.0,25.4,64.8,0.0,25.4,8.466667,0,3,0,0
ARE000040210135,ARE,0.0,0.0,0.0,0.0,143.3,16.9,21.4,181.6,0.0,21.4,5.350000,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA000015004637,USA,25.8,11.5,0.0,11.5,19.8,2.5,41.7,64.0,37.3,4.4,4.170000,2,10,1,1
USA000007902358,USA,35.9,12.9,0.0,12.9,24.7,6.4,50.2,81.3,48.8,1.4,6.275000,2,8,1,1
USA000007902371,USA,33.3,15.8,0.0,15.8,11.9,12.5,50.0,74.4,49.1,0.9,4.545455,2,11,1,1
USA000007902381,USA,9.1,5.9,49.4,55.3,11.3,4.4,79.7,95.4,64.4,15.3,3.188000,3,25,1,1
USA000007902365,USA,7.9,0.0,0.0,0.0,25.3,1.7,35.6,62.6,7.9,27.7,2.094118,1,17,0,1

In [ ]:
df['avg_time_btw_events']

ID
ARE000018904852    9.366667
ARE000018904861    7.433333
ARE000018904843    2.450000
ARE000018904832    8.466667
ARE000040210135    5.350000
                     ...
USA000015004637    4.170000
USA000007902358    6.275000
USA000007902371    4.545455
USA000007902381    3.188000
USA000007902365    2.094118
Name: avg_time_btw_events, Length: 30452, dtype: float64

In [ ]:
# avg_time_btw_events IQR
btw_25 = np.quantile(df['avg_time_btw_events'], 0.25)
btw_75 = np.quantile(df['avg_time_btw_events'],0.75)
btw_IQR = btw_75 - btw_25
btw_min = btw_25 - 5.0 * btw_IQR
btw_max = btw_75 + 5.0 * btw_IQR
df_9 = df[(btw_min <= df['avg_time_btw_events']) & (df['avg_time_btw_events'] <= btw_max)]
df_9

Empty DataFrame
Columns: [cnt, time_A_total, time_b1, time_b2, time_B_total, time_start, time_end, time_solving, time_total, time_answer, time_not_answer, avg_time_btw_events, length, events_num, credit, OECD]
Index: []

In [ ]:
# length IQR
length_25 = np.quantile(df['length'], 0.25)
length_75 = np.quantile(df['length'],0.75)
length_IQR = length_75 - length_25
length_min = length_25 - 5.0 * length_IQR
length_max = length_75 + 5.0 * length_IQR
df_10 = df[(length_min <= df['length']) & (df['length'] <= length_max)]
df_10

,cnt,time_A_total,time_b1,time_b2,time_B_total,time_start,time_end,time_solving,time_total,time_answer,time_not_answer,avg_time_btw_events,length,events_num,credit,OECD
ID,,,,,,,,,,,,,,,,
ARE000018904852,ARE,0.0,0.0,0.0,0.0,8.9,3.8,28.1,40.8,0.0,28.1,9.366667,0,3,0,0
ARE000018904861,ARE,0.0,0.0,0.0,0.0,26.2,9.9,22.3,58.4,0.0,22.3,7.433333,0,3,0,0
ARE000018904843,ARE,0.0,0.0,0.0,0.0,29.8,9.9,19.6,59.3,0.0,19.6,2.450000,0,8,0,0
ARE000018904832,ARE,0.0,0.0,0.0,0.0,34.4,5.0,25.4,64.8,0.0,25.4,8.466667,0,3,0,0
ARE000040210135,ARE,0.0,0.0,0.0,0.0,143.3,16.9,21.4,181.6,0.0,21.4,5.350000,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA000015004637,USA,25.8,11.5,0.0,11.5,19.8,2.5,41.7,64.0,37.3,4.4,4.170000,2,10,1,1
USA000007902358,USA,35.9,12.9,0.0,12.9,24.7,6.4,50.2,81.3,48.8,1.4,6.275000,2,8,1,1
USA000007902371,USA,33.3,15.8,0.0,15.8,11.9,12.5,50.0,74.4,49.1,0.9,4.545455,2,11,1,1
USA000007902381,USA,9.1,5.9,49.4,55.3,11.3,4.4,79.7,95.4,64.4,15.3,3.188000,3,25,1,1
USA000007902365,USA,7.9,0.0,0.0,0.0,25.3,1.7,35.6,62.6,7.9,27.7,2.094118,1,17,0,1

In [ ]:
len(df)

30452

In [ ]:
# 7.0기준 클리닝(103개 제거,  7195-7092)
df_fc_7 = df[((timestart_min <= df['time_start']) & (df['time_start'] <= timestart_max) &
              (timeA_min <= df['time_A_total']) & (df['time_A_total'] <= timeA_max) &
              (timeb1_min <= df['time_b1']) & (df['time_b1'] <= timeb1_max) & (timeb2_min <= df['time_b2']) & (df['time_b2'] <= timeb2_max) &
              (timeS_min <= df['time_solving']) & (df['time_solving'] <= timeS_max) &
              (timeT_min <= df['time_total']) & (df['time_total'] <= timeT_max) &
              (answer_min <= df['time_answer']) & (df['time_answer'] <= answer_max) &
              (notanswer_min <= df['time_not_answer']) & (df['time_not_answer'] <= notanswer_max) &
              #(btw_min <= df['avg_time_btw_events']) & (df['avg_time_btw_events'] <= btw_max) &
              (length_min <= df['length']) & (df['length'] <= length_max))]
df_fc_7

,cnt,time_A_total,time_b1,time_b2,time_B_total,time_start,time_end,time_solving,time_total,time_answer,time_not_answer,avg_time_btw_events,length,events_num,credit,OECD
ID,,,,,,,,,,,,,,,,
ARE000018904852,ARE,0.0,0.0,0.0,0.0,8.9,3.8,28.1,40.8,0.0,28.1,9.366667,0,3,0,0
ARE000018904861,ARE,0.0,0.0,0.0,0.0,26.2,9.9,22.3,58.4,0.0,22.3,7.433333,0,3,0,0
ARE000018904843,ARE,0.0,0.0,0.0,0.0,29.8,9.9,19.6,59.3,0.0,19.6,2.450000,0,8,0,0
ARE000018904832,ARE,0.0,0.0,0.0,0.0,34.4,5.0,25.4,64.8,0.0,25.4,8.466667,0,3,0,0
ARE000040210143,ARE,0.0,0.0,0.0,0.0,33.4,12.2,6.1,51.7,0.0,6.1,1.525000,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA000015004612,USA,8.1,8.3,0.0,8.3,15.7,4.6,18.0,38.3,16.4,1.6,2.250000,2,8,1,1
USA000015004637,USA,25.8,11.5,0.0,11.5,19.8,2.5,41.7,64.0,37.3,4.4,4.170000,2,10,1,1
USA000007902358,USA,35.9,12.9,0.0,12.9,24.7,6.4,50.2,81.3,48.8,1.4,6.275000,2,8,1,1
USA000007902371,USA,33.3,15.8,0.0,15.8,11.9,12.5,50.0,74.4,49.1,0.9,4.545455,2,11,1,1
USA000007902365,USA,7.9,0.0,0.0,0.0,25.3,1.7,35.6,62.6,7.9,27.7,2.094118,1,17,0,1

In [ ]:
df_fc_7.to_csv('3_OutliersNormalization_3_all_7.0.csv')